<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.nasdanika.codegen.ecore.editor.generation_target">
      <generation_target
            class="org.nasdanika.codegen.ecore.web.ui.WebUIGenerationTarget"
            id="web-ui"
            name="Web UI">
      </generation_target>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
